---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Odoo from "./icons/Odoo.astro"
import Python from "./icons/Python.astro"
import Javascript from "./icons/Javascript.astro"
import Flutter from "./icons/Flutter.astro"
import NodeJS from "./icons/NodeJS.astro"
import Wordpress from "./icons/Wordpress.astro"
import HTML from "./icons/HTML.astro"
import CSSIcon from "./icons/CSSIcon.astro"

const TAGS = {
  ODOO: {
    name: "ERP",
    class: "bg-[#714B67] text-white items-center",
    icon: Odoo,
    iconSize: "size-7"
  },
  PYTHON: {
    name: "Python",
    class: "bg-black text-white items-center",
    icon: Python,
    iconSize: "size-7"
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#e26fe8] text-white",
    icon: Javascript,
    iconSize: "size-4"
  },
  FLUTTER: {
    name: "Flutter",
    class: "bg-[#003159] text-white",
    icon: Flutter,
    iconSize: "size-4"
  },
  NODEJS: {
    name: "NodeJS",
    class: "bg-black text-white",
    icon: NodeJS,
    iconSize: "size-4"
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-gray-200 text-black font-semibold",
    icon: Wordpress,
    iconSize: "size-4"
  },
  HTML: {
    name: "HTML",
    class: "bg-black text-white",
    icon: HTML,
    iconSize: "size-4"
  },
  CSS: {
    name: "CSS",
    class: "bg-black text-white",
    icon: CSSIcon,
    iconSize: "size-4"
  },
}
const PROJECTS = [
  {
    title: "ERP Simple para pymes",
    description:
      "Creación de pequeño ERP con lo esencial para empresas de construcción. Entre sus funcionalidades destacán, fichaje de empleados, presupuestos, facturas, creación de partes de trabajo, seguimiento de máquinas. Disponible en móvil, Windows y MacOs.",
    link: "https://workflowdone.com/",
    image: "/projects/pj1.webp",
    tags: [TAGS.FLUTTER, TAGS.NODEJS],
  },
  {
    title: "Odoo - ERP Bautec Solutions",
    description:
      "Implantación de ERP Odoo a empresa de venta al por mayor de material de construcción. Realización de módulos a medida solicitados por el cliente.",
    link: "https://www.bautecsolutions.com/",
    github: "https://github.com/odoo/odoo",
    image: "/projects/pj2.webp",
    tags: [TAGS.ODOO, TAGS.PYTHON],
  },
  {
    title: "Luxia Exclusive Experience",
    description:
      "Creación de página web a través del CMS Wordpress para una empresa de mejora de experiencia en viajes, cuenta con un blog para mejorar el tráfico de la web y newsletter con sus ultimas novedades.",
    link: "https://luxiaexperience.com/",
    image: "/projects/pj3.webp",
    tags: [TAGS.WORDPRESS, TAGS.HTML, TAGS.CSS],
  },
]
---

<Python class="size-0" />
<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>
  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs py-1 px-2 ${tag.class}`}
              >
                <tag.icon class={tag.iconSize} />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Código
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Revisar
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>